---
interface props{
    label : string,
    songNumber : string,
    songName : string,
    songDuration : string,
    songArtist : string
}

const {label, songNumber, songName, songDuration, songArtist, songImage}  = Astro.props
---
<section class="overflow-clip group inline-flex text-secondary-color w-full gap-3 items-center transition-all transform hover:scale-[1.02] d">
    <h3 class="text-[14px] font-bloody  transition-all duration-500">{songNumber}</h3>
    <div class="flex p-2 bg-primary-color hover:bg-spotify-green transition-all duration-500  rounded w-full gap-2 j">
        <div style={`background-image: url('${songImage}');`} role="img" aria-label={label} class="transition-all rounded-sm k bg-center bg-cover w-[48px] h-[40px]"></div>
        <div class="text-[12px] inline-flex items-center justify-between w-full">
            <div>
                <h3 class="font-semibold leading-4">{songName}</h3>
                <p class="opacity-50">{songArtist}</p>
            </div>
            <p class="dur">{songDuration}</p>
        </div>
        
    </div>
</section>
<style>
.d:hover > .j > .k{
    width: 20px;
    /* transform: translateY(-20px); */
}

.d:hover .dur{
    animation: scroll 0.8s ease-in-out forwards;
}
</style>