---
import Heading from '@compo/pencil/Typography/Heading.astro'
import RatingCard from '@compo/pencil/RatingCard.astro'
import Body from '@compo/pencil/Typography/Body.astro';
import TwoFace from '@compo/pencil/TwoFace.astro'

const {position, team, playerName, rebounds, points, assists, flip, quote, url} = Astro.props

---
<div class={`lg:flex bg-[url('/images/pencil/bg.jpg')] bg-center bg-cover bg-no-repeat ${flip && "flex-row-reverse"}`}>
    <div style={`background-image: url('${url}');`} class="w-[25%] aspect-square bg-center bg-no-repeat bg-cover hidden lg:block xl:w-[35%]">

    </div>
    <div class=" md:pt-16 md:pb-9 xl:px-24 lg:w-[75%] text-center">
        <div class="px-8 md:px-10">
             <div class="flex flex-col items-center md:items-start gap-6 relative pt-4">
            <Heading level="1">Featured player</Heading>

            <Heading level="2" style="md:hidden">{playerName}</Heading>
        

            <div class="hidden md:block">
                <slot />
            </div>
            
            <p class="leading-5 w-[80%] max-w-[600px] text-center md:text-left box relative text-[14px] md:text-[16px]">{quote}</p>

            <div class="md:flex mt-4 gap-10 md:absolute md:top-[-24px] md:right-8 hidden">
                <div>
                    <p class="text-[12px] font-bold text-[#bdbcbc]">Position</p>
                    <p class="text-[16px] font-hand-sofia leading-6 mt-1">{position}</p>
                </div>
            
                <div>
                    <p class="text-[12px] font-bold text-[#bdbcbc]">Team</p>
                    <p class="text-[16px] font-hand-sofia leading-6 mt-1">{team}</p>
                </div>
            </div>
        </div>
        </div>

        <a href="https://www.figma.com/proto/xczPNDEs9ZVLeJH9pItaoE/PENCIL-HOOPS-WITH-NBA-X-ESPN?type=design&node-id=0-1&viewport=98%2C288%2C0.17&t=F4DyheWk4pyLPlaO-0&scaling=min-zoom&starting-point-node-id=498%3A1705" target="_blank"><button class="text-[11px] my-4 inline-block text-white font-bold bg-[url('/images/icons/abt-btn.svg')] px-20 py-5 bg-center bg-no-repeat bg-contain md:hidden">View Design Prototype</button></a>
    
        <p class="text-[#7d7d7d] font-bold hidden md:block mt-12 px-8 md:px-10 text-left">Project Duration</p>
        <div class="hidden md:flex justify-around items-center bg-[#333333] md:bg-transparent mt-4 md:justify-start px-8 md:px-10">
            <RatingCard name="Research & Design" number={rebounds} style="text-white md:text-black"/>
            <div class="h-[30px] w-[1px]  md:hidden"></div>
            <RatingCard name="Development" number={points} style="text-white md:text-black"/>
            <div class="h-[30px] w-[0.5px]  md:hidden"></div>
            <a href="https://www.figma.com/proto/xczPNDEs9ZVLeJH9pItaoE/PENCIL-HOOPS-WITH-NBA-X-ESPN?type=design&node-id=0-1&viewport=98%2C288%2C0.17&t=F4DyheWk4pyLPlaO-0&scaling=min-zoom&starting-point-node-id=498%3A1705" target="_blank"><RatingCard variant="fill" name="View Design <br> Prototype" number={assists} style="text-white md:text-black"/></a>

            <TwoFace style={`transform rotate-[90deg] hover:cursor-pointer right-0 hidden md:block`} ratio='square' width="50px" url1="/images/icons/icon-arrow-b.svg" url2="/images/icons/icon-arrow-c.svg"/>
        </div>

        <div class="md:hidden grid grid-rows-1 grid-cols-3 justify-around bg-[#333333] md:bg-transparent mt-4 md:justify-start ">

            <RatingCard name="Duration" style="text-white md:text-black" style="bg-white"/>
            <RatingCard name="Research & Design" number={points + 'days'} style="text-white md:text-black"/>
            <RatingCard name="Development" number={assists + 'days'} style="text-white md:text-black"/>


            <!-- <TwoFace style={`transform rotate-[90deg] hover:cursor-pointer right-0 hidden md:block`} ratio='square' width="50px" url1="/images/icons/icon-arrow-b.svg" url2="/images/icons/icon-arrow-c.svg"/> -->
        </div>
    </div>
</div>


<style>
    .box::after{
        content: '';
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 50px;
        background: no-repeat center url('/images/icons/icon-quote.svg');
        right: -35px;
        top: -25px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .box::before{
        content: '';
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 50px;
        left: -35px;
        top: -25px;
        background: no-repeat center url('/images/icons/icon-quote.svg');

    }
</style>
